<!DOCTYPE HTML>
<html>

<head>
    <script src="resources/flipkart.js"></script>
    <script src="resources/base.js"></script>
    <style type="text/css">
        p {
            margin: 0;
            padding-bottom: 0.2em;
        }
        .links-div {
            padding: 2px;
        }
    </style>

</head>
<h3>Affiliate Page</h3>

<div id="static-content">
    <p><b>Why am i seeing this page?</b>
    </p>
    <p>We use the affiliate program to make the chrome extension self funded. This helps us in scaling up the resources and building better features. Click on the below link to proceed.</p>
</div>

<p>&nbsp;</p>

<div id="main-link-div">
</div>

<div id="rec-link-div">
    <h4>Author Recommended Links:</h4>
</div>


<div id="trend-link-div">
    <h4>Trending Links:</h4>
</div>

<!--<body>
    <script type="text/javascript" src="http://ir-in.amazon-adsystem.com/s/impression-counter?tag=1clishalin-21&o=31"></script>
    <noscript>
        <img src="http://ir-in.amazon-adsystem.com/s/noscript?tag=1clishalin-21" alt="" />
    </noscript>
</body>-->

</html>
