<!DOCTYPE HTML>
<html>

<head>
    <script src="resources/flipkart.js"></script>
    <script src="resources/base.js"></script>
    <style type="text/css">
        p {
            margin: 0;
            padding-bottom: 0.2em;
        }
        .links-div {
            padding: 2px;
        }
    </style>

</head>

<div id="static-content">
    <p>This page is provided by the <a href="https://chrome.google.com/webstore/detail/1-click-share-link/ahphcmppigmmngfoehcncdfpafapijmj">chrome extension</a>.
    </p>
</div>

<p>&nbsp;</p>

<div id="main-link-div">
</div>

<div id="rec-link-div">
    <h4>Author Recommended Links:</h4>
</div>


<div id="trend-link-div">
    <h4>Trending Links:</h4>
</div>


</html>
