<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  	<style type="text/css">
	  			* {
 					font-size: 100%;
 					font-family: Georgia;
				}
	  			a {
	  				/*font-family: Tahoma, serif;*/
	  				text-decoration: none;
	  			}
	  			.button {
	  				width: 200px;
	  			}
				a:hover   { text-decoration: underline; }  /* user hovers     */
				#links-content-div{
					margin: 10px;
				}
	  	</style>
        <script src="resources/server_login.js"></script>
	</head>
    <h1>Server Login Page</h1>
    <body>
  		<div id="login-button-div"></div>
  	</body>
</html>
